:root {
    /* primary colors */
    --pr-green: hsl(154, 59%, 51%);
    --pr-red: hsl(0, 100%, 74%);
    /* accent colors */
    --a-blue: hsl(248, 32%, 49%);
    /* neutral colors */
    --n-dark-blue: hsl(249, 10%, 26%);
    --n-grayish-blue: hsl(246, 25%, 77%);
    /* fonts */
    --ff: 'Poppins', sans-serif;
    --fs: 16px;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background: url("/images/bg-intro-desktop.png") no-repeat var(--pr-red);
    background-size: cover;
    font-family: var(--ff);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header, .form {
    width: 30%;
    height: 550px;
}

.header {
    color: white;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    margin-right: 60px;
}

.header h1 {
    margin-bottom: 20px;
    font-weight: var(--fw-bold);
    font-size: 40px;
}

.header p {
    font-size: var(--fs);
}

.form {
    margin-left: 60px;
}

.top {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--a-blue);
    height: 60px;
    border-radius: 8px;
    box-shadow: 0 8px hsla(249, 10%, 26%, 0.2);
    margin-bottom: 20px;
}

.top span:nth-child(2) {
   color: var(--n-grayish-blue);
   margin-left: 5px;
}

form {
    background-color: white;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 8px hsla(249, 10%, 26%, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form form div {
    width: 85%;
    position: relative;
}

.form img {
    position: absolute;
    right: 20px;
    top: 13px;
    visibility: hidden;
    cursor: pointer;
}

.error {
    position: absolute;
    right: 0;
    bottom: 6px;
    font-size: 14px;
    color: var(--pr-red);
    visibility: hidden;
}

input, button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

input {
    margin-bottom: 40px;
    border: 1px solid hsla(249, 10%, 26%, 0.2);
    text-indent: 30px;
    font-weight: var(--fw-semi-bold);
}

input:focus {
    border: 1px solid var(--n-dark-blue);
    outline: none;
}

::placeholder {
    text-indent: 30px;
    font-weight: var(--fw-semi-bold);
}

button {
    text-transform: uppercase;
    color: white;
    background: var(--pr-green);
    border: none;
    box-shadow: 0 4px #27BB7B;
    font-weight: var(--fw-bold);
}

button:hover {
    cursor: pointer;
    background: #49DD9D;
    box-shadow: 0 4px #38CC8C;
}

.terms {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

.terms span:nth-child(1) {
    color: var(--n-grayish-blue);
}

.terms span:nth-child(2) {
    color: var(--pr-red);
    font-weight: var(--fw-semi-bold);
}

footer {
    position: absolute;
    bottom: 5vh;
    left: 35vw;
}

.attribution {
    font-size: var(--fs)2;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width:1200px) {
    .header, .form {
        width: 40%;
    }
}

@media screen and (max-width:1200px) {
    .header, .form {
        margin: 0;
    }

    main {
        justify-content: space-evenly;
    }
}

@media screen and (max-width:850px) {
    main {
        flex-direction: column;
        text-align: center;
    }

    .top {
        height: 80px;
        margin: 50px 0;
    }

    body {
        height: 130vh;
    }

    .header, .form {
        width: 80%;
    }

    .header h1 {
        font-size: 45px;
    }

    .header p {
        font-size: 25px;
    }

    footer {
        bottom: -27vh;
        left: 23vw;
    }
}

@media screen and (max-width:500px) {
    .header h1 {
        font-size: 30px;
    }

    .header p {
        font-size: var(--fs);
    }

    .top {
        margin: 30px 0;
    }

    footer {
        left: 0;
    }
}

@media screen and (max-width:415px) {
    .top {
        flex-direction: column;
    }

    .top span:nth-child(2) {
        margin-left: 0;
    }
}